////////////////////////////////////

.gallery {
  display: flex;

  &__photo {
    width: 100%;
    display: block;
  }
}

/////////////////////////////////////

.overview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--line);

  &__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;

    @include respond(bp-small) {
      font-size: 1.8rem;
      padding: 1.25rem 2rem;
    }
  }

  &__stars {
    display: flex;
    flex: 1;
  }

  &__location {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
  }

  &__rating {
    background-color: var(--color-primary);
    margin-left: 3rem;
    color: #fff;
    align-self: stretch;
    padding: 0 2.25rem;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @include respond(bp-small) {
      padding: 0 1.5rem;
    }

    &-average {
      font-size: 2.25rem;
      font-weight: 300;
      margin-bottom: -3px;

      @include respond(bp-small) {
        font-size: 1.8rem;
      }
    }

    &-count {
      font-size: 0.8rem;
      text-transform: uppercase;

      @include respond(bp-small) {
        font-size: 0.5rem;
      }
    }
  }
}

.btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s;

  & span {
    margin-left: 3px;
    transition: margin-left 0.2s;
  }

  &:hover {
    color: var(--color-grey-dark-1);

    span {
      margin-left: 8px;
    }
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}
